@model GameStation.WebUI.Models.ProductListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="margin-top:5px;">Oyunlar</h3>
<hr />
<div class="row" style="margin-top:10px;">

    @foreach (var product in Model.Products)
    {
        <div class="card" style="width: 16rem; margin-left:5px; margin-right:5px; margin-top:5px; margin-bottom:5px;">
            <img src="@product.ImageUrl" class="card-img-top" alt="..." style="height:11rem;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    }
</div>
